# .gitignore

# Azure Functions
local.settings.json
.vscode/
.funcignore

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Build
dist/
bin/
obj/

# Local storage
azurite/
__blobstorage__/
__queuestorage__/
__azurite_db*__
*.PublishSettings
